<section ng-controller="IndexController">
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Tabla de precios <small>Nuestras posibles opciones</small></h1>
                <ol class="breadcrumb">
                    <li><a href="/#!/">Inicio</a></li>
                    <li class="active">Tabla de precios</li>
                </ol>
            </div>

        </div>

        <div class="row">

            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>Mini</strong>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price">5€/mes</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">1 dominio</li>
                        <li class="list-group-item">15 GB de almacenamiento</li>
                        <li class="list-group-item"><a class="btn btn-primary">Contratar!</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>Personal</strong>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price">10€/mes</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">3 dominios</li>
                        <li class="list-group-item">30 GB de almacenamiento</li>
                        <li class="list-group-item"><a class="btn btn-primary">Contratar!</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>Avanzado <span class="label label-success">Best Value!</span></strong>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price">20€/mes</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">5 dominios</li>
                        <li class="list-group-item">60 GB de almacenamiento</li>
                        <li class="list-group-item"><a class="btn btn-primary">Contratar!</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>Profesional</strong>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price">30€/mes</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">5 dominios</li>
                        <li class="list-group-item">100 GB de almacenamiento</li>
                        <li class="list-group-item"><a class="btn btn-primary">Contratar!</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>Todos los hospedajes contienen las siguientes especificaciones:</strong>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">PHP 5.4</li>
                        <li class="list-group-item">MySQL 5.1</li>
                        <li class="list-group-item">Correo ilimitado</li>
                        <li class="list-group-item">Webmail</li>
                        <li class="list-group-item">Backup Diario</li>
                        <li class="list-group-item">Monitorización 24h</li>
                        <li class="list-group-item">Parallels Plesk 11.5</li>
                        <li class="list-group-item">Ancho de Banda ilimitado</li>
                        <li class="list-group-item">Conexión 200Mbps</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>

