.bs-docs-nav {
    text-shadow: 0 -1px 0 rgba(0,0,0,.15);
    background-color: #563d7c;
    border-color: #463265;
    box-shadow: 0 1px 0 rgba(255,255,255,.1);
}
.bs-docs-nav .navbar-collapse {
    border-color: #463265;
}
.bs-docs-nav .navbar-brand {
    color: #fff;
}
.bs-docs-nav .navbar-nav > li > a {
    color: #cdbfe3;
}
.bs-docs-nav .navbar-nav > li > a:hover {
    color: #fff;
}
.bs-docs-nav .navbar-nav > .active > a,
.bs-docs-nav .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #463265;
}
.bs-docs-nav .navbar-toggle {
    border-color: #563d7c;
}
.bs-docs-nav .navbar-toggle:hover {
    background-color: #463265;
    border-color: #463265;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #463265;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #cdbfe3;
}


.bs-docs-nav .navbar-brand {
    border: 1px solid white;
    color: #cdbfe3 ;
    font-family: fantasy;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}

.bs-docs-nav .navbar-brand:hover {
    -webkit-animation: tiembla 1.5s infinite;
    background-color: white;
    color: #463265;
}

@-webkit-keyframes tiembla{
    0%  { -webkit-transform:rotateZ(-5deg); }
    25%  { -webkit-transform:rotateZ(0deg); }
    50% { -webkit-transform:rotateZ(5deg)scale(.8); }
    60%{ -webkit-transform:rotateZ(0deg); }
    70%{ -webkit-transform:rotateZ(-5deg); }
    80%{ -webkit-transform:rotateZ(0deg); }
    90%{ -webkit-transform:rotateZ(5deg); }
    100%{ -webkit-transform:rotateZ(0deg); }
}

.carousel-indicators {
    top: auto;
    bottom: 15px;
}