extends ../layouts/default.html

block content
    .col-md-offset-2.col-md-6
        h2(style='font: 1.833em/1 \'FS Albert Pro Web Light\',Helvetica,Arial,sans-serif; margin-bottom: 10px;') Entra con
        a(href="/auth/facebook")
            img(src="/img/icons/facebook.png")
        a(href="/auth/github")
            img(src="/img/icons/github.png")
        a(href="/auth/twitter")
            img(src="/img/icons/twitter.png")
        a(href="/auth/google")
            img(src="/img/icons/google.png")
    .col-md-offset-2.col-md-6
        if (errors != "")
            .fade.in.alert.alert-block.alert-error
                a.close(data-dismiss="alert", href="javascript:void(0)") x
                ul
                    each error in errors
                        li= error.message

        block auth