extends auth

block auth
    form.signup.form-horizontal(action="/users", method="post")
        h2(style='font: 1.833em/1 \'FS Albert Pro Web Light\',Helvetica,Arial,sans-serif; margin-bottom: 20px;') Regístrate
        .control-group
            label.control-label(for='name') Nombre completo
            .controls
                input#name(type='text', name="name", placeholder='Nombre completo', value=user.name)

        .control-group
            label.control-label(for='email') Email
            .controls
                input#email(type='text', name="email", placeholder='Email', value=user.email)

        .control-group
            label.control-label(for='username') Nombre de usuario
            .controls
                input#username(type='text', name="username", placeholder='Nombre de usuario', value=user.username)

        .control-group
            label.control-label(for='password') Contraseña
            .controls
                input#password(type='password', name="password", placeholder='Contraseña')

        .control-group
            .controls
                button.btn.btn-primary(type='submit') Regístrate
                &nbsp;
                | o&nbsp;
                a.show-signup(href="/signin") Accede
