extends auth

block auth
    form.signin.form-horizontal(action="/users/session", method="post")
        h2(style='font: 1.833em/1 \'FS Albert Pro Web Light\',Helvetica,Arial,sans-serif; margin-bottom: 20px;') Zona clientes
        if (message != "")
            div.alert.alert-danger
                button.close(type='button', data-dismiss='alert') x
                p=message
        .control-group
            label.control-label(for='email') Email
            .controls
                input#email(type='text', name="email", placeholder='Email')

        .control-group
            label.control-label(for='password') Contraseña
            .controls
                input#password(type='password', name="password", placeholder='Contraseña')

        .control-group
            .controls
                label.checkbox
                    input#session(type='checkbox')
                    | No cerrar sesión
                button.btn.btn-primary(type='submit') Iniciar Sesión
                &nbsp;
                | o&nbsp;
                a.show-signup(href="/signup") Regístrate